<div class="container" ng-controller="importar" ng-init="load()">
    <ol class="breadcrumb">
        <li>
            <a href="#">Util</a>
        </li>
        <li class="active">Importar Histórico</li>
    </ol>

    <form method="POST" name="form" ng-submit="formSubmit()">
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label req" for="url_api">URL API</label>
                        <input type="url" class="form-control" pattern="https?://.+" name="url_api" id="url_api" ng-model="url_api" required />
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label req" for="user_bluemix">Usuário Bluemix</label>
                        <input type="text" class="form-control" name="user_bluemix" id="user_bluemix" ng-model="user_bluemix" required />
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label req" for="token_bluemix">Token</label>
                        <input type="text" class="form-control" name="token_bluemix" id="token_bluemix" ng-model="token_bluemix" required />
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form">
                    <div class="form-group">
                        <label class="control-label req" for="workspace_id">Workspace ID</label>
                        <input type="text" class="form-control" name="workspace_id" id="workspace_id" ng-model="workspace_id" required />
                    </div>
                </section>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-4 col-md-4 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_start">Data Inicio</label>
                        <input class="form-control" name="date_start" id="date_start" ng-model="date_start" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-4 col-md-4 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_end">Data Fim</label>
                        <input class="form-control" name="date_end" id="date_end" ng-model="date_end" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-4 col-md-4 line-form">
                    <div class="form-group">
                        <label class="control-label" for="buscar">&nbsp;</label>
                        <button class="btn btn-primary btn-block" type="submit" id="buscar" name="buscar">Buscar</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="row" style="text-align: center;" ng-show="mostraLoader">
            <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
        </div>
    </form>

</div>