<div class="container" ng-controller="feedback" ng-init="load()">
    <ol class="breadcrumb">
        <li><a href="#">Conversação</a></li>
        <li class="active">Feedback</li>
    </ol>

    <div class="modal fade bs-example-modal-lg" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button type="button" class="btn btn-sm btn-warning" style="float: right; top: -5px; margin-right: 30px; position: relative;"
                        ng-click="flagReviewed()"> <span class="glyphicon glyphicon-ok-sign"></span> Marcar Revisado </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Feedback</h4>
                    <h5 class="modal-title" id="note">Observação: {{mnote}}</h5>
                </div>
                <div id="conteudoModalConversa" class="modal-body">
                    <table id="dialogoHistorico" class="table" cellspacing="0" width="100%">
                        <thead>
                            <th colspan="2">
                                Workspace: {{mworkspace}}</span><br>Conversation: {{mconversation}}
                            </th>
                        </thead>
                        <tbody id="conteudoDialogoModal">
                            <tr>
                                <td class="text-left modalHistoricoAgente">USER</td>
                                <td>TEXT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" name="form" ng-submit="formSubmit()">
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="formData.conversation_id">Id da Conversa</label>
                        <input class="form-control" name="formData.conversation_id" id="formData.conversation_id" ng-model="formData.conversation_id"
                            type="text">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="formData.username">Usuário</label>
                        <input class="form-control" name="formData.username" id="formData.username" ng-model="formData.username" type="text">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="formData.success">Feedback</label>
                        <select class="form-control" name="formData.success" id="formData.success" ng-model="formData.success">
                            <option value="">Todos</option>
                            <option value="0">Negativo</option>
                            <option value="1">Positivo</option>
                        </select>
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form">
                    <div class="form-group">
                        <label class="control-label" for="formData.reviewed">Revisado</label>
                        <select class="form-control" name="formData.reviewed" id="formData.reviewed" ng-model="formData.reviewed">
                            <option value="">Todos</option>
                            <option value="0">Não</option>
                            <option value="1">Sim</option>
                        </select>
                    </div>
                </section>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="formData.startDate">Data Inicial</label>
                        <input type="date" class="form-control" name="formData.startDate" id="formData.startDate" ng-model="formData.startDate" />
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="formData.endDate">Data Final</label>
                        <input type="date" class="form-control" name="formData.endDate" id="formData.endDate" ng-model="formData.endDate" />
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form">
                    <div class="form-group">
                        <label class="control-label" for="buscar">&nbsp;</label>
                        <button class="btn btn-primary btn-block" type="submit" id="buscar" name="buscar">Buscar</button>
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form">
                    <div class="form-group">
                        <label class="control-label" for="limpar">&nbsp;</label>
                        <button class="btn btn-danger btn-block" type="reset" id="limpar" name="limpar">Limpar</button>
                    </div>
                </section>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="text-align: center;" ng-show="mostraLoader">
                <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
            </div>
            <table id="tableFeedback" class="table table-striped table-bordered" cellspacing="0" width="100%" class="ng-cloak" ng-show="!mostraLoader">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Conversa</th>
                        <th>Usuário</th>
                        <th>Feedback</th>
                        <th>Revisado</th>
                        <th>Revisado Por</th>
                        <th>Data Criação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>ID Conversa</th>
                        <th>Usuário</th>
                        <th>Feedback</th>
                        <th>Revisado</th>
                        <th>Revisado Por</th>
                        <th>Data Criação</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="x in dadosFeedback">
                        <td class="text-center">
                            <img src="/images/data_view.png" alt="Visualizar histórico" title="Visualizar histórico" data-toggle="modal" data-target="#modalFeedback"
                                class="imgModalHistorico" ng-click="abrirModalFeedback(x.workspace_id, x.conversation_id, x.id, $event, x.note);">
                        </td>
                        <td>{{x.conversation_id}}</td>
                        <td>{{ (x.username ? x.username:'' )}}</td>
                        <td>{{ (x.success? 'Positivo':'Negativo') }}</td>
                        <td id="{{x.id}}">{{ (x.reviewed ? 'Sim':'Não') }}</td>
                        <td id="{{x.id}}_userReviewed">{{x.userReviewed}}</td>
                        <td>{{x.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>