<div class="container" ng-controller="historico" ng-init="load()">
    <ol class="breadcrumb">
        <li>
            <a href="#">Conversação</a>
        </li>
        <li class="active">Histórico</li>
    </ol>

    <div class="modal fade bs-example-modal-lg" id="modalHistorico" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Histórico</h4>
                </div>
                <div id="conteudoModalHistorico" class="modal-body">
                    <table id="dialogoHistorico" class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Workspace: {{mworkspace}}</span>
                                    <br>Conversation: {{mconversation}}
                                </th>
                            </tr>
                        </thead>
                        <tbody id="conteudoDialogoModalHistorico">
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="modalTone" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Tone Analyzer</h4>
                </div>
                <div id="conteudoModalTone" class="modal-body">
                    <table id="dialogoTone" class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Workspace: {{mworkspace}}</span>
                                    <br>Conversation: {{mconversation}}
                                </th>
                            </tr>
                        </thead>
                        <tbody id="conteudoDialogoModalTone">
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form novalidate>
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-4 col-md-4 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_start">Data Inicio</label>
                        <input class="form-control" name="date_start" id="date_start" ng-model="date_start" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-4 col-md-4 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_end">Data Fim</label>
                        <input class="form-control" name="date_end" id="date_end" ng-model="date_end" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-4 col-md-4 line-form">
                    <div class="form-group">
                        <label class="control-label" for="buscar">&nbsp;</label>
                        <button class="btn btn-primary btn-block" type="submit" id="buscar" name="buscar" ng-click="find()">Buscar</button>
                        <a href="#" ng-click="mostraAvancado=!mostraAvancado">Filtro Avançado</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="panel panel-default" ng-show="mostraAvancado">
            <div class="panel-body">
                <label class="control-label" for="filtro_intencao">Intenção</label>
                <select class="form-control" ng-options="intent as intent for intent in intentList" ng-model="filtro_intencao"></select>
                <label class="control-label" for="filtro_entidade">Entidade</label>
                <select class="form-control" ng-options="entity as entity for entity in entityList" ng-model="filtro_entidade"></select>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="text-align: center;" ng-show="mostraLoader">
                <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
            </div>
            <table id="tabelaHistorico" class="table table-striped table-bordered" cellspacing="0" width="100%" ng-show="!mostraLoader">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Workspace</th>
                        <th>ID Conversation</th>
                        <th>Usuário</th>
                        <th>Data Criação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>ID Workspace</th>
                        <th>ID Conversation</th>
                        <th>Usuário</th>
                        <th>Data Criação</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="x in dadosHistorico">
                        <td class="text-center">
                            <img src="/images/data_view.png" alt="Visualizar histórico" title="Visualizar histórico" data-toggle="modal" data-target="#modalHistorico"
                                class="imgModalHistorico" ng-click="abrirModalHistorico(x._id.workspace_id, x._id.conversation_id);">
                        </td>
                        <td>{{x._id.workspace_id}}</td>
                        <td>{{x._id.conversation_id}}</td>
                        <td>{{x._id.username}}</td>
                        <td>{{x._id.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>