<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.15/c3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .axis {
        opacity: 0.5;
        font: 10px sans-serif;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .axis .domain {
        fill: none;
        stroke: #000;
        stroke-opacity: .3;
        stroke-width: 4px;
        stroke-linecap: round;
    }

    .axis .halo {
        fill: none;
        stroke: #ddd;
        stroke-width: 3px;
        stroke-linecap: round;
    }

    .slider .handle {
        fill: #fff;
        stroke: #000;
        stroke-opacity: .5;
        stroke-width: 1.25px;
        cursor: grab;
    }

    path.link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 1.5px;
    }

    text {
        font: 10px sans-serif;
        pointer-events: none;
    }

    text.shadow {
        stroke: #fff;
        stroke-width: 3px;
        stroke-opacity: .8;
    }

    .graphContainer {
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }

    #sidebar {
        position: absolute;
        z-index: 2;
        background-color: #FFF;
        padding: 10px;
        margin: 5px;
        border: 1px solid #6895b4;
        min-height: 3px;
        min-width: 8px;
    }
</style>
<div class="container" ng-controller="acuraciaExperimento" ng-init="load()">
    <ol class="breadcrumb">
        <li>
            <a href="#">Acurácia</a>
        </li>
        <li class="active">Experimento</li>
    </ol>

    <div class="modal fade bs-example-modal-lg" id="modalMatriz" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Matriz: Teste em {{dataTeste | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                </div>
                <div id="conteudoModalMatriz" class="modal-body" style="overflow-x: auto;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">Class Distribution</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#class_acc_tab">Class Accuracy</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#prec_at_k_tab">Precisão Total</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#pairwise_error_tab">Confusões</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#pairwise_graph_tab">Pairwise Error Graph</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Dataset Summary</h3>
                            <div class="row">
                                <canvas id="graphSummaryPizza" height="100px"></canvas>
                            </div>
                            <div class="row">
                                <canvas id="graphSummaryBar"></canvas>
                            </div>
                            <table id="tblSumario" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Intenção</th>
                                        <th>Exemplos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in tstSumario" ng-class="x.classSummary">
                                        <td>{{x.intent}}</td>
                                        <td>{{x.total}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="class_acc_tab" class="tab-pane fade in active">
                            <h3>Accuracy per Class Size</h3>
                            <div class="row">
                                <canvas id="graphAccuracyClassPizza" height="100px"></canvas>
                            </div>
                            <div class="row">
                                <canvas id="graphAccuracyClassBar"></canvas>
                            </div>
                            <table id="tblSumario" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Intenção</th>
                                        <th>Exemplos</th>
                                        <th>Acurácia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in tstSumario" ng-class="x.classAccuracy">
                                        <td>{{x.intent}}</td>
                                        <td>{{x.total}}</td>
                                        <td>{{x.threshold/x.total*100| number:2}}%</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="prec_at_k_tab" class="tab-pane fade in active">
                            <h3>Precisão Total</h3>
                            <div class="row">
                                <canvas id="graphPrecisaoPizza" height="100px"></canvas>
                            </div>
                        </div>
                        <div id="pairwise_error_tab" class="tab-pane fade in active">
                            <h3>Confusões</h3>
                            <div class="row">
                                <canvas id="graphConfusaoPizza" height="100px"></canvas>
                            </div>
                            <table id="tblConfusao" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Deveria Ser</th>
                                        <th>Caiu em</th>
                                        <th>Quantidade</th>
                                        <th>Confiança Média</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in tstConfusao | orderBy:'-qtde'" ng-class="x.class" ng-click='mostraDetalhe(x)'>
                                        <td>
                                            {{x.deveriaSer}}
                                            <ul ng-hide="x.hide">
                                                <li ng-repeat="y in x.intencaoCorreta">{{y}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            {{x.foi}}
                                            <ul ng-hide="x.hide">
                                                <li ng-repeat="y in x.intencaoErrada">{{y}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            {{x.qtde}}
                                            <ul ng-hide="x.hide">
                                                <li ng-repeat="y in x.erros">{{y}}</li>
                                            </ul>

                                        </td>
                                        <td>{{x.confianca*100| number:2}}%</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="pairwise_graph_tab" class="tab-pane fade">

                            <div id="container" class="container">
                                <div id="sidebar" style="display: none;">
                                    <div class="item-group">
                                        <label class="item-label">Filter</label>
                                        <div id="filterContainer" class="filterContainer checkbox-interaction-group"></div>
                                    </div>
                                </div>
                                <div id="graphContainer" class="graphContainer"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-success alert-dismissible ng-cloak" role="alert" ng-show="operacaoSucesso">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Sucesso!</strong> Operação realizada.
    </div>
    <div class="alert alert-danger alert-dismissible ng-cloak" role="alert" ng-show="operacaoFalha">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> Falha na operação.
    </div>
    <div id="alertNovoTeste" name="alertNovoTeste" class="alert alert-warning" role="alert">
        <strong>Aguarde!</strong> Um novo teste está sendo criado e executado.
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-12">
                <button class="btn btn-primary btn-block" type="submit" id="novoTeste" name="novoTeste" ng-click="criarTeste()">Novo Teste</button>
            </section>
        </div>
    </div>


    <h2>Testes</h2>
    <div class="panel panel-default ">
        <div class="panel-body ">
            <div class="row" style="text-align: center;" ng-show="mostraLoader">
                <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
            </div>
            <table id="listaExperimento" class="table table-striped table-bordered" cellspacing="0" width="100%" ng-show="!mostraLoader">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Data Execução</th>
                        <th>Status</th>
                        <th>Tot Exemplos</th>
                        <th>Tot Intenções</th>
                        <th>Acurácia</th>
                        <th>Threshold</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Data Execução</th>
                        <th>Status</th>
                        <th>Tot Exemplos</th>
                        <th>Tot Intenções</th>
                        <th>Acurácia</th>
                        <th>Threshold</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="x in listaTestes">
                        <td class="text-center">
                            <img src="/images/data_th.png" alt="Matriz de Confusão" title="Matriz de Confusão" data-toggle="modal" data-target="#modalMatriz"
                                class="imgModalHistorico" ng-click="abrirResultado(x.createdAt);">&nbsp;&nbsp;
                        </td>
                        <td>{{x.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>Finalizado</td>
                        <td>{{x.resultado.examplesTotal}}</td>
                        <td>{{x.resultado.intentsNumber}}</td>
                        <td>{{((x.resultado.acuracyThreshold) * 100) | number: 2}}%</td>
                        <td>{{((x.resultado.threshold) * 100) | number: 2}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>