<div class="container" ng-controller="relConfidenciaBaixa" ng-init="load()">
    <ol class="breadcrumb">
        <li><a href="#">Relatório</a></li>
        <li class="active">Confidência Baixa</li>
    </ol>

    <div class="modal fade bs-example-modal-lg" id="modalConversa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Feedback</h4>
                </div>
                <div id="conteudoModalConversa" class="modal-body">
                    <table id="dialogoConversa" class="table" cellspacing="0" width="100%">
                        <thead>
                            <th colspan="2">
                                Workspace: {{mworkspace}}</span><br>Conversation: {{mconversation}}
                            </th>
                        </thead>
                        <tbody id="conteudoDialogoModal">
                            <tr>
                                <td class="text-left modalHistoricoAgente">USER</td>
                                <td>TEXT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" ng-submit="formSubmit()">
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_start">Data Inicio</label>
                        <input class="form-control" name="date_start" id="date_start" ng-model="date_start" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="date_end">Data Fim</label>
                        <input class="form-control" name="date_end" id="date_end" ng-model="date_end" type="date">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form border-rigth">
                    <div class="form-group">
                        <label class="control-label" for="threshold">Threshold</label>
                        <input class="form-control" name="threshold" id="threshold" ng-model="threshold" type="number" step="0.01">
                    </div>
                </section>
                <section class="col-xs-12 col-sm-3 col-md-3 line-form">
                    <div class="form-group">
                        <label class="control-label" for="buscar">&nbsp;</label>
                        <button class="btn btn-primary btn-block" type="submit" id="buscar" name="buscar">Buscar</button>
                    </div>
                </section>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="text-align: center;" ng-show="mostraLoader">
                <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
            </div>
            <div class="row" style="text-align: left;" class="ng-cloak" ng-show="!mostraLoader">
                <div class="panel-body">
                    <table id="tableConfidencia" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Conversation Id</th>
                                <th>Usuário</th>
                                <th>Frase</th>
                                <th>Intenção</th>
                                <th>Confiança</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Conversation Id</th>
                                <th>Usuário</th>
                                <th>Frase</th>
                                <th>Intenção</th>
                                <th>Confiança</th>
                                <th>Data</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="x in dadosConfidenciaBaixa">
                                <td>
                                    <img src="/images/data_view.png" alt="Visualizar Conversa" title="Visualizar Conversa" data-toggle="modal" data-target="#modalConversa"
                                        class="imgModalHistorico" ng-click="abrilModal(x._id.workspace_id, x._id.conversation_id);">
                                </td>
                                <td>{{x._id.conversation_id}}</td>
                                <td>{{x.value.username}}</td>
                                <td>{{x.value.input}}</td>
                                <td>#{{x.value.intent.intent}}</td>
                                <td>{{(x.value.intent.confidence * 100) | number: 2}}%</td>
                                <td>{{x.value.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>