<style>
    .ng-cloak {
        display: none !important;
    }
</style>
<div class="container" ng-controller="relMetricas" ng-init="load()">

    <div class="modal fade bs-example-modal-lg" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom-height-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Intenções</h4>
                </div>
                <div id="conteudoModalFeedback" class="modal-body">
                    <canvas id="feedbackBarraIntents"></canvas>
                </div>
            </div>
        </div>
    </div>

    <ol class="breadcrumb">
        <li>
            <a href="#">Relatório</a>
        </li>
        <li class="active">Métricas</li>
    </ol>

    <div class="panel panel-default" ng-show="mostraLoader">
        <div class="panel-body">
            <div class="row" style="text-align: center;">
                <img src="/images/preload.gif" alt="Carregando..." title="Carregando...">
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="!mostraLoader" class="ng-cloak">
        <div class="panel-body">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                        <td style="width: 30%;">
                            <canvas id="feedackPizza"></canvas>
                        </td>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                        <td style="width: 60%;">
                            <canvas id="feedbackBarra"></canvas>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-show="!mostraLoader" class="ng-cloak">
        <div class="panel-body">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                        <td style="width: 30%;" class="text-center">
                            <span style="font-size: small; font-weight: bold; padding: 10px 10px; color: #666">Total Chamadas API</span>
                            <br>
                            <br>
                            <span style="font-size: 60px; padding: 10px 10px;">{{totalChamadasAPI}}</span>
                        </td>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                        <td style="width: 60%;">
                            <canvas id="chamadaAPIBarra"></canvas>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-show="!mostraLoader" class="ng-cloak">
        <div class="panel-body">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                        <td style="width: 30%;" class="text-center">
                            <canvas id="intencoesMaisUsadas"></canvas>
                        </td>
                        <td style="width: 30%;" class="text-center">
                            <canvas id="entidadesMaisUsadas"></canvas>
                        </td>
                        <td style="width: 30%;" class="text-center">
                            <canvas id="browsersMaisUsadas"></canvas>
                        </td>
                        <td style="width: 5%;">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>